---
import { getCollection } from "astro:content";
import { remark } from "remark";
import strip from "strip-markdown";
import { Search, SearchItem } from "../components/Search";
import "../styles/base.css";

interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

const baseUrl = "https://www.foxpoint.se";

const fallbackImage =
  "https://www.foxpoint.se/images/foxpoint_logo_outline.svg";

const { title, imageUrl = fallbackImage, description } = Astro.props;
const currentPath = Astro.url.pathname;
const fullPageUrl = `${baseUrl}${currentPath}`;

const docsCollection = await getCollection("docs");
const mdDocs = await Astro.glob("../content/docs/*.md");

const mdDocsWithHeadings = mdDocs.map((a) => ({
  ...a,
  headings: a.getHeadings().map((h) => ({ ...h })),
}));

const enhancedDocsCollection = docsCollection.map((a1) => {
  const foundA2 = mdDocsWithHeadings.find(
    (a2) => a2.frontmatter.title === a1.data.title
  );
  return {
    a1: { ...a1 },
    a2: foundA2,
  };
});

const searchItems: SearchItem[] = await Promise.all(
  enhancedDocsCollection.map(async (k) => {
    const strippedBodyFile = await remark()
      .use(strip, { keep: ["code"] })
      .process(k.a1.body);
    const strippedBody = String(strippedBodyFile);
    const noNewLines = strippedBody.replace(/(\r\n|\n|\r)/gm, " ");
    return {
      category: "article",
      headings: k.a2?.headings,
      slug: k.a1.slug,
      title: k.a1.data.title,
      fullPath: `/${k.a1.collection}/${k.a1.slug}`,
      body: noNewLines,
    };
  })
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={fullPageUrl} />
    <title>{title}</title>
  </head>
  <body class="min-h-[110vh] flex flex-col">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost btn-md">
          <img src="/images/foxpoint_logo_full.svg" class="h-6" />
        </a>
      </div>
      <div class="flex-none gap-sm">
        <ul class="md:block hidden">
          <li>
            <a class="btn btn-ghost btn-sm capitalize" href="/docs">Docs</a>
          </li>
        </ul>
        <Search items={searchItems} client:idle />
      </div>
    </div>
    <div class="grow">
      <slot />
    </div>
    <footer class="footer pt-xl pb-20 bg-neutral-800 text-neutral-content">
      <div class="footer px-md mb-2xl max-w-3xl mx-auto">
        <div>
          <img
            width="50px"
            src="/images/foxpoint_logo_light_transparent.svg"
            alt="Foxpoint logo"
          />
          <p>
            Foxpoint.<br />Stockholm, Sweden.<br />Autonomous underwater
            vehicles.
          </p>
        </div>
        <div>
          <span class="footer-title">Social</span>
          <div class="grid grid-flow-col gap-4">
            <a
              ><svg
                width="24"
                height="24"
                viewBox="0 0 65 65"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-current"
              >
                <path
                  d="M55.204 55.2039H45.604V40.1699C45.604 36.5849 45.54 31.9699 40.611 31.9699C35.611 31.9699 34.846 35.8759 34.846 39.9089V55.2029H25.246V24.2869H34.462V28.5119H34.591C35.5133 26.935 36.8461 25.6377 38.4473 24.7583C40.0486 23.8788 41.8584 23.4502 43.684 23.5179C53.414 23.5179 55.208 29.9179 55.208 38.2439L55.204 55.2039ZM14.414 20.0609C13.3122 20.0611 12.235 19.7346 11.3187 19.1226C10.4025 18.5106 9.68832 17.6407 9.26648 16.6228C8.84464 15.6049 8.73409 14.4848 8.94885 13.4041C9.16362 12.3234 9.69404 11.3306 10.473 10.5513C11.252 9.77208 12.2446 9.24132 13.3252 9.02617C14.4058 8.81101 15.526 8.92114 16.544 9.34261C17.562 9.76408 18.4322 10.478 19.0446 11.394C19.6569 12.31 19.9838 13.3871 19.984 14.4889C19.9841 15.2205 19.8402 15.945 19.5603 16.6209C19.2805 17.2969 18.8702 17.9111 18.353 18.4285C17.8358 18.9459 17.2217 19.3564 16.5458 19.6365C15.87 19.9166 15.1456 20.0608 14.414 20.0609ZM19.214 55.2039H9.604V24.2869H19.214V55.2039ZM59.99 0.00392588H4.78003C3.52692 -0.0102155 2.3194 0.473721 1.42291 1.34939C0.526428 2.22506 0.014317 3.42083 -0.000976562 4.67392V60.1129C0.0137935 61.3666 0.525604 62.5632 1.42206 63.4398C2.31851 64.3164 3.5263 64.8013 4.78003 64.7879H59.99C61.2462 64.8037 62.4574 64.3202 63.3574 63.4436C64.2574 62.5671 64.7726 61.3691 64.79 60.1129V4.66993C64.7721 3.41434 64.2565 2.21722 63.3564 1.34157C62.4564 0.465918 61.2456 -0.0166353 59.99 -7.57339e-05"
                ></path>
              </svg>
            </a>
            <a
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current"
                ><path
                  d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
                ></path></svg
              ></a
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
