---
import { getCollection } from "astro:content";
import { remark } from "remark";
import strip from "strip-markdown";
import { Search, SearchItem } from "../components/Search";
import "../styles/base.css";

interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

const baseUrl = "https://www.foxpoint.se";

const fallbackImage =
  "https://www.foxpoint.se/images/foxpoint_logo_outline.svg";

const { title, imageUrl = fallbackImage, description } = Astro.props;
const currentPath = Astro.url.pathname;
const fullPageUrl = `${baseUrl}${currentPath}`;

const docsCollection = await getCollection("docs");
const mdDocs = await Astro.glob("../content/docs/*.md");

const mdDocsWithHeadings = mdDocs.map((a) => ({
  ...a,
  headings: a.getHeadings().map((h) => ({ ...h })),
}));

const enhancedDocsCollection = docsCollection.map((a1) => {
  const foundA2 = mdDocsWithHeadings.find(
    (a2) => a2.frontmatter.title === a1.data.title
  );
  return {
    a1: { ...a1 },
    a2: foundA2,
  };
});

const searchItems: SearchItem[] = await Promise.all(
  enhancedDocsCollection.map(async (k) => {
    const strippedBodyFile = await remark()
      .use(strip, { keep: ["code"] })
      .process(k.a1.body);
    const strippedBody = String(strippedBodyFile);
    const noNewLines = strippedBody.replace(/(\r\n|\n|\r)/gm, " ");
    return {
      category: "article",
      headings: k.a2?.headings,
      slug: k.a1.slug,
      title: k.a1.data.title,
      fullPath: `/${k.a1.collection}/${k.a1.slug}`,
      body: noNewLines,
    };
  })
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={fullPageUrl} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost btn-sm">
          <img src="/images/foxpoint_logo_full.svg" class="h-6" />
        </a>
      </div>
      <div class="flex-none gap-sm">
        <ul class="md:block hidden">
          <li><a class="btn btn-ghost btn-sm" href="/docs">Docs</a></li>
        </ul>
        <Search items={searchItems} client:idle />
      </div>
    </div>
    <slot />
  </body>
</html>
