---
import { Search } from "../components/Search";
import "../styles/base.css";

interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

const baseUrl = "https://www.foxpoint.se";

const fallbackImage =
  "https://www.foxpoint.se/images/foxpoint_logo_outline.svg";

const { title, imageUrl = fallbackImage, description } = Astro.props;
const currentPath = Astro.url.pathname;
const fullPageUrl = `${baseUrl}${currentPath}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={fullPageUrl} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost btn-sm">
          <img src="/images/foxpoint_logo_full.svg" class="h-6" />
        </a>
      </div>
      <div class="flex-none gap-sm">
        <ul class="md:block hidden">
          <li><a class="btn btn-ghost btn-sm" href="/docs">Docs</a></li>
        </ul>
        <Search client:load />
      </div>
    </div>
    <slot />
  </body>
</html>
